<!DOCTYPE html>
<html>
<body style="background-color: #fad7a0 ;">
<h1><font face="constantia" size="14" color=" #922b21"> Hay {{ count }} palabras en tu texto </font></h1>

<a href=" {% url 'home' %} "><font face="constantia">Cuenta de nuevo</font></a>
<br />
<a href=" {% url 'acerca' %} "><font face="constantia">Acerca</font></a>
<h1><font face="constantia" size="8" color=" #922b21">Tu texto:</font></h1>
{{fulltext}}

<h1><font face="constantia" size="6" color=" #922b21">Conteo:</font></h1>

{% for word, counttotal in sortedwords %}

{{ word }}
<br />
{{ counttotal }}
<br />

{% endfor %}

</body>
</html>
